<div class="container">
 <div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2  col-lg-8">
   <h1>釣果一覧</h1>
       <%= render 'records/records', records: @records %>
  </div>
 </div>
</div>
 