<% if logged_in? %>
<div class="row">
   <div class="col-xs-8">
     <aside>
       <%= render 'records/records',records: @records %>
     </aside>
    </div>
</div>
<% else %>
  <div class="text-center">
    <div class="container">
      <h1>Fish-Score</h1>
      <p>Dream of Big Fish!</p>
    </div>
    <%= link_to '新規ユーザー登録', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
<% end %>