
ul {
  list-style: none;
}

/*body*/
body {
  color: #fff;
  background: url("/images/fisherman2.jpeg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  position: relative;
}

.main-title {
  font-size: 20px;
  text-align: center;
}

.main-title h1 {
  font-size: 95px;
  padding-top: 100px;
}

.main-title p {
  font-size: 18px;
  padding-top:30px;
}

.signup-button {
  text-align: center;
  padding: 40px;
}

.date-select {
  color: black;
}

footer {
  color: #fff;
  padding: 20px;
}