<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Fish Score</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <% if logged_in? %>
        <li class="nav-link">
          <%=link_to 'アングラーズ', signup_path %>
        </li>
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            More
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">プロフィール</a>
            <a class="dropdown-item" href="#">ランキング</a>
            <%= link_to 'ログアウト',logout_path,method: :delete %>
          </div>
        </li>
        <% else %>
        <li class="nav-link">
          <%=link_to '新規ユーザー登録', signup_path %>
        </li>
        <li class="nav-link">
          <%=link_to 'ログイン' ,login_path %>
        </li>
      </ul>
    </div>
  </nav>
</header>